<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            {% include "webpages/base.html" %}
        <title>ASTU Event Organizer</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'files/bootstrap/css/bootstrap.css' %}"  type="text/css" >
        <link rel="stylesheet" href="{% static 'files/style6.css' %}"  type="text/css" >
        <link rel="stylesheet" href="{% static 'files/style2.css' %}"  type="text/css" >
        <link rel="stylesheet" href="{% static 'files/style3.css' %}"  type="text/css" >
        <link rel="stylesheet" href="{% static 'files/style4.css' %}"  type="text/css" >


    </head>
    <body >
        <div class="row" >
            <div class="col-sm-8" align="center" style="margin-left:20%">
                <br><br>
                <h4> ASTU vent Organizer is a web based system to post or upload any events that can occur in Adama Science
                and Techno;ogy University.Any Event Organization can post any event and at the same time any user can get
                full information about the event.</h4>
                <br><br>
            </div>
        </div>
    </body>


    <footer>
        {% include "webpages/footer.html" %}
    </footer>
</html>