<!DOCTYPE html>
<html lang="en">
    <head class="header-site">
        <meta charset="UTF-8">
        {% load static %}
        {% load filter %}
        {% load widget_tweaks %}
            {% include "webpages/librarian_page.html" %}
        <title>book view by librarian</title>

        <link rel="stylesheet" href="{% static 'files/bootstrap/css/bootstrap.css' %}"  type="text/css" >
        <link rel="stylesheet" href="{% static 'files/style2.css' %}"  type="text/css" >
        <link rel="stylesheet" href="{% static 'files/style3.css' %}"  type="text/css" >
        <link rel="stylesheet" href="{% static 'files/style4.css' %}"  type="text/css" >
        <link rel="stylesheet" href="{% static 'files/style5.css' %}"  type="text/css" >
        <link rel="stylesheet" href="{% static 'files/style6.css' %}"  type="text/css" >


    </head>
    <body>
         {% block search %}
            <div class = "container col-5" align="right" style="margin-left:40%;">
            <form  method="post" novalidate>
                {% csrf_token %}
                <div class="row">
                    {% for field in form.visible_fields %}
                        {% if field.name == 'search_engine' %}
                            <div class="col-md-7">
                                {% render_field field class="form-control" %}
                            </div>
                        {% else %}
                           <div class="col-md-4 ">
                                {% render_field field class="form-control" %}
                            </div>
                        {% endif %}

                    {% endfor %}

                    <div class="col-md-1">
                    <button type="submit" class = "btn btn-primary"> search</button>
                    </div>
                </div>
            </form>
            </div>
            <br>
        {% endblock search %}


        {% if book %}
        <div class="container col-10">
            <table class="table table-primary" >
            <tr>
                <th style="width: 10%;">Code</th>
                <th style="width: 35%;">Title</th>
                <th style="width: 55%;">Author</th>
            </tr>
            </table>
        </div>
        {% else %}
            <div class="container col-8">
                <h4>There is no result</h4>
            </div>
        {% endif %}
                {% for i in book %}
        <div class="container col-10">
            <table class="table table-success">
                    <tr>
                        <td style="width: 10%;">{{i.code}}</td>
                        <td style="width: 34%;">{{i.title}}</td>
                        <td style="width: 30%;">{{i.author}}</td>

                        <td align="right" style="width: 26%;">
                            <input type="button"  id ="button2-{{i.id}}" class="btn btn-primary"  onclick="myFunction2({{i.id}})"
                            value="view info">

                            <a class="btn btn-success" href="{% url 'view-book-history-by-librarian' i.id %}" target="_blank" style="margin-left:5px;">history</a>
                        </td>
                    </tr>

            </table>
        </div>
            <div class="container col-10">

            <div class="row" id="book-{{i.id}}" style="display:none;">

            <div class="col-sm-9">
                    <table class="table table-success" style="table-layout: fixed;">

                        <tr>
                            <td style="width: 20%;"><strong>Total amount:</strong></td>
                            <td style="width: 20%;">{{i.amount}}</td>
                            <td style="width: 25%;"><strong>Total specific codes:</strong></td>
                            <td style="width: 35%;">{{i.total_specific_codes}}</td>
                        </tr>

                        <tr>
                            <td style="width: 20%;"><strong>Available amount:</strong></td>
                            <td style="width: 20%;">{{i.current_amount }}</td>
                            <td style="width: 25%;"><strong>Available specific codes:</strong></td>
                            <td style="width: 35%;">{{i.current_specific_codes}}</td>
                        </tr>
                        <tr>
                            <td style="width: 20%;"><strong>Page:</strong></td>
                            <td style="width: 20%;">{{i.page}}</td>
                            <td style="width: 25%;"><strong>Borrow specific codes:</strong></td>
                            <td style="width: 35%;">{{i.current_borrow_specific_codes}}</td>
                        </tr>

                        <tr>
                            {% if i.category%}
                            <td style="width: 20%;"><strong>Category:</strong></td>
                            <td style="width: 20%;">{{i.category}}</td>
                            {%endif%}
                            {% if i.pub_year%}
                            <td style="width: 25%;"><strong>Publication year:</strong></td>
                            <td style="width: 35%;">{{i.pub_year}}</td>
                            {%endif%}
                        </tr>

                    </table>
            </div>

            <div class="col-sm-3">
                <img src="{% static i.photo %}"  height="148" width="200">
            </div>
            {% if i.description %}
            <div id ="description-{{i.id}}" style="display:none;">
                    <br><br> {{i.description}}
                <br><br>
            </div>
            <div class="container col-12" align="center">
               <input type="button"  id ="button3-{{i.id}}" class="btn btn-primary"  onclick="myFunction3({{i.id}})"
                      value="view description">
                <br><br>
            </div>
            {% endif %}
            </div>

        </div>

        {% endfor %}


        <script>

function myFunction2(par) {
    var y ="button2-"+par;
    var x = document.getElementById("book-"+par);
        console.log(x);

    if (x.style.display === "none") {
        x.style.display = "flex";
        document.getElementById(y).value="hide  info";
            document.getElementById(y).style.backgroundColor='#dc3545';
    } else {
        x.style.display = "none";
        document.getElementById(y).value="view info";
                document.getElementById(y).style.backgroundColor='#007bff';


    }
}
function myFunction3(par) {
    var y ="button3-"+par;
    var z= "description-"+par
    var x = document.getElementById(z);
    if (x.style.display === "none") {
        x.style.display = "block";
        document.getElementById(y).value="hide  description";
        document.getElementById(y).style.backgroundColor='#dc3545';


    } else {
        x.style.display = "none";
        document.getElementById(y).value="view description";
                document.getElementById(y).style.backgroundColor='#007bff';

    }
}
</script>

    </body>
    <footer>
        {% include "webpages/footer.html" %}
    </footer>
</html>
