<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% include "webpages/admin_page.html" %}

    <title>Book merge</title>
    {%load static%}
    {%load filter%}
    <link rel="stylesheet" href="{% static 'files/bootstrap/css/bootstrap.css' %}"  type="text/css" >
    <link rel="stylesheet" href="{% static 'files/style5.css' %}"  type="text/css" >
    <link rel="stylesheet" href="{% static 'files/style8.css' %}"  type="text/css" >

</head>
    <body>
        {% load widget_tweaks %}
        <div class = "container col-5">
        <form enctype="multipart/form-data" method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <table class="error">
                    <tr><td>
                        <b> {{ form.non_field_errors|error_truncate}}</b>
                    </td></tr>
                </table>
            <br>
            {% endif %}


            {% for field in form.visible_fields %}
                <div class = "form-group">
                    {{ field.label_tag }}
                        {% if field.name == 'image' %}
                        <br><img src="{% static 'Images/book.png' %}" height="150" width="200"><br>
                    {% endif %}
                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for  error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}

                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}


                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}

                </div>
            {% endfor %}

            <button type="submit" class = "btn btn-primary" > Save</button>
        </form>
        </div>
    </body>
    <footer>
        {% include "webpages/footer.html" %}
    </footer>
</html>
