<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% include "webpages/admin_page.html" %}

    <title>book delete by admin</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'files/bootstrap/css/bootstrap.css' %}"  type="text/css" >
    <link rel="stylesheet" href="{% static 'files/style5.css' %}"  type="text/css" >

</head>
    <body>
        {% load widget_tweaks %}
        <br>
        <div class="col-sm-8" style="margin-left:100px;">
        <h3>Are you sure?</h3><br>
            <h5> Are you sure you want to delete the book {{book.title}}?
                All of the following related items will be deleted:</h5><br>

        {% if borrow %}
            <h4>Some amount of books are not returned, such as</h4><br>
            {% for i in borrow%}
                <STRONG>user:</STRONG>  {{i.user.name}} {{i.user.middle_name}} {{i.user.last_name}}<br>
                <STRONG>user id:</STRONG>  {{i.user.user_id}}<br>
                <STRONG>Date of Borrow:</STRONG>  {{i.borrow_date}}<br>
                <STRONG>Specific code:</STRONG>  {{i.specific_code}}<br>
                <br><br>

            {% endfor %}
        {% endif %}
        <br><br><br>
        <a class="btn btn-danger" href="{% url 'deleteBook' book.id  %}" style="margin-left:15px;">Yes,I'm sure</a>
        <a class="btn btn-secondary" href="{% url 'NotDelete' 'book_delete' %}" style="margin-left:15px;">No, take me back</a>
        </div>
    </body>
    <br><br><br><br><br><br><br><br><br>
    <footer>
        {% include "webpages/footer.html" %}
    </footer>
</html>
