<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% include "webpages/librarian_page.html" %}

    <title>user delete by librarian</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'files/bootstrap/css/bootstrap.css' %}"  type="text/css" >
    <link rel="stylesheet" href="{% static 'files/style5.css' %}"  type="text/css" >

</head>
    <body>
        {% load widget_tweaks %}
        <br>
        <div class="col-sm-8" style="margin-left:100px;">

        <h3>Are you sure?</h3><br>
            <h5>Are you sure you want to delete the borrow ?</h5><br>

                <STRONG>title:</STRONG>  {{borrow.book.title}}<br>
                <STRONG>code:</STRONG>  {{borrow.book.code}}<br>
                <STRONG>Specific code:</STRONG>  {{borrow.specific_code}}<br>
                <STRONG>User:</STRONG>  {{borrow.user.name}} {{borrow.user.middle_name}}<br>
                <br><br>
        <h5>Are you sure you want to delete the borrow?</h5>
        <br><br><br>
        <a class="btn btn-danger" href="{% url 'DeleteBorrow' borrow.id  %}" style="margin-left:15px;">Yes,I'm sure</a>
        <a class="btn btn-secondary" href="{% url 'NotDelete' 'borrow_delete' %}" style="margin-left:15px;">No, take me back</a>
        </div>
    </body>
    <br><br><br><br><br><br><br><br><br>
    <footer>
        {% include "webpages/footer.html" %}
    </footer>
</html>
